<h2>Details of Registered User</h2>
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-5 offset-md-4">
          <div class="form-group">
            <label class="label-style">First Name : </label>
            {{ data.name}}  
          </div>

          <div class="form-group">
            <label class="label-style">Date of birth : </label>
            {{ data.dob }}  
          </div>

          <div class="form-group">
            <label class="radio-label-style">Gender : </label>
            {{ data.gender }}  
          </div>

          <div class="form-group">
            <label class="label-style">Reason for job change : </label>
            {{ data.reasonForChange }} 
          </div>


          <div class="form-group">
            <label class="label-style">Last salary figure : </label>
            {{ data.cctc }} 
          </div>

            <div class="form-group">
              <label class="label-style">Expected Salary : </label>
              {{ data.ectc }} 
            </div>
      </div>
    </div>
  </div>
</div>